.custom-bradcumb{
    margin: 0;
    background-color: transparent;
}


.breadcrumb-item + .breadcrumb-item::before {

    content: ">"!important;
}


.product-page-rate{
    color: gold;
    font-size: 18px;
}

.product-page-rate span{
    color: rgb(100, 83, 83);
    font-size: 16px;
}


.product-page-price{
    font-size: 18px;
}


.product-page-price span{
    color: red;
}


 h1 .product-page-title{
 font-size: 23px;
}

.descrip{
    font-size: 17px;
    line-height: 30px;
}

.product-page-title .fa-heart{
    color: red;
}

.product-page-title .fa-ball,.product-page-title .fa-share-alt{
    color: rgb(41, 36, 36);
}




.p-bnefit{
    font-size: 16px;
}




.brand-cat{
    font-size: 15px;
}