.custom-nav-tabs-product-page .nav-link.active,.custom-nav-tabs-product-page
.nav-tabs .nav-item.show .nav-link {
    border-top: 3px solid red;
}


.custom-nav-tabs-product-page .nav-link{
    font-size: 18px;
}


.custom-tab-pane-product h3{
    color: #848181;
}


.custom-tab-pane-product .product-desk{
    font-size: 15px;
    line-height: 36px;
    background-color: #fbfbfb;

}
.product-all-rate p{
 font-size: 14px;
}



.progress-product-wrapper{
    background-color: white;
}


.product-desc-step li {
    border-right: 1px solid rgb(160, 160, 160);
    font-size: 17px;
    line-height: 46px;
    color: #2f2f2f;
}

.product-desc-step li{
    top: -15px;
    right: -10px;
}
.ss{
    right: -15px;
    top: 5px;
    font-size: 20px;
  
}

.product-desc-step li i{
    color: red;
}


.product-desc-step li .p-img-wrapper{
    max-width: 500px;
    margin: 0 auto;
}


.custom-tab-pane-productdetails ul li .key{
    background-color: #ccc;
    flex: 0 0 20%;
}


.custom-tab-pane-productdetails ul li .value{
    background-color: #ccc;
    flex: 0 0 78%;
    height: 40px;
    font-size: 18px;
}


.custom-tab-pane-productdetails ul p {
    font-size: 16px;
}

.custom-tab-pane-productdetails ul p i{
    vertical-align: -3px;
}


.add-comment p:first-child{
    font-size: 22px;
    color: #505050;
}



.add-comment p:nth-child(2){
    font-size: 18px;
    color: #505050;

}