

.custom-col-lg-3{
    flex:  0 0 21%;
    max-width: 21%;
}


.custom-col-lg-6{
    flex:  0 0 58%;
    max-width: 58%;
}


@media screen and (max-width:991px) {
    .custom-col-lg-3{
        flex:  0 0 50%;
        max-width: 50%;
    }
    .custom-col-lg-6{
        flex:  0 0 100%;
        max-width: 100%;
    }
}


